/*CSS - Variables*/
:root {
  --color-one: hsl(217, 19%, 35%);
  --color-two: hsl(214, 17%, 51%);
  --color-three: hsl(212, 23%, 69%);
  --color-four: hsl(210, 46%, 95%);
}
/*CSS - Normalize*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*CSS - Reusable code*/
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/**CSS - root**/
html {
  font-size: 62.5%;
}
/**CSS - Container component**/
body {
  background-color: var(--color-four);
  font-family: "Manrope", sans-serif;
}
/*CSS - Main page*/
.main-page {
  position: relative;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);

  padding: 0 6rem;
}
/*CSS - Component*/
.article-preview {
  background-color: #ffffff;

  max-width: 73rem;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: auto;

  border-radius: 1rem;
}
/*CSS - First element*/
.article-preview__box-image {
  flex-basis: 40%;

  overflow: hidden;
}
.article-preview__image {
  display: block;
  max-width: 122%;
  height: auto;

  border-radius: 1rem 0 0 1rem;
}
/*CSS - Second element*/
.article-preview__box-article {
  flex-basis: 60%;

  display: flex;
  flex-direction: column;
}
/*CSS - Text section*/
.article-preview__box-text {
  padding: 0 4rem;
}
.article-preview__tittle {
  color: var(--color-one);
  font-size: 2rem;
  font-weight: 700;

  margin-bottom: 1.6rem;
}
.article-preview__text {
  color: var(--color-two);
  font-size: 1.3rem;

  margin-bottom: 3rem;
}
/*CSS - Author section*/
.article-preview__box-author {
  position: relative;

  padding: 0 4rem;
}
/*CSS - First block*/
.author-article {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.author-article__image {
  display: inline-block;
  max-width: 4.2rem;
  height: auto;

  margin-right: 1rem;

  border-radius: 100%;
}
.author-article__box-data {
  flex-basis: 70%;
}
.author-article__name {
  color: var(--color-one);

  display: block;
  font-size: 1.3rem;
}
.author-article__date {
  color: var(--color-three);

  display: block;
  font-size: 1.3rem;
}
.author-article__btn-social {
  background-color: var(--color-four);
  padding: 0.8rem 0.9rem;

  border: 0;
  border-radius: 100%;

  transition-duration: 0.4s;
}
.author-article__btn-social--color {
  background-color: var(--color-two);
}
.author-article__icon {
  position: relative;
  filter: invert(51%) sepia(20%) saturate(471%) hue-rotate(175deg)
    brightness(93%) contrast(87%);

  transition-duration: 0.4s;
}
.author-article__icon--color {
  filter: none;
}
/*CSS - Second block*/
.social-networks {
  visibility: hidden;

  background-color: var(--color-one);
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  bottom: 7.1rem;
  right: -7.4rem;

  box-shadow: 0 0.6rem 1.4rem 0 hsla(213, 30%, 7%, 0.25);

  padding: 1.6rem 3.6rem;
  border-radius: 1rem;
  z-index: 100;
}
.social-networks__text {
  text-transform: uppercase;
  color: var(--color-three);
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.5rem;

  margin-right: 1.6rem;
}
.social-networks__image--margin {
  margin-right: 2rem;
}
.social-networks__start-option {
  background-color: var(--color-one);
  position: absolute;
  width: 4rem;
  height: 2rem;

  clip-path: polygon(50% 100%, 0 0, 100% 0);

  bottom: -1.6rem;
  right: 11.2rem;
  z-index: 200;
}
@media screen and (max-width: 950px) {
  html {
    font-size: 58%;
  }
}
@media screen and (max-width: 770px) {
  html {
    font-size: 62.5%;
  }
  /*CSS - Component*/
  .article-preview {
    flex-direction: column;

    min-width: 260px;
  }
  /*CSS - First element*/
  .article-preview__box-image {
    flex-basis: none;
    max-height: 216px;

    border-radius: 1rem 1rem 0 0;
  }
  .article-preview__image {
    width: 100%;

    position: relative;
    top: -16px;

    border-radius: 1rem 1rem 0 0;
  }
  /*CSS - Text section*/
  .article-preview__box-text {
    position: relative;

    padding: 0 3.6rem;
    padding-top: 4rem;

    width: 100%;
    flex-basis: none;
  }
  .article-preview__tittle {
    font-size: 1.8rem;
  }
  .article-preview__text {
    font-size: 1.5rem;

    margin-bottom: 1rem;
  }
  /*CSS - Author section*/
  .article-preview__box-author {
    padding: 1.8rem 4rem;
  }
  /*CSS - First block*/
  .author-article__image {
    max-width: 4.5rem;
  }
  .author-article__name {
    font-size: 1.5rem;
  }
  .author-article__date {
    font-size: 1.5rem;
  }
  .author-article__btn-social {
    padding: 0.8rem 0.9rem;
  }
  .author-article__icon {
    transform: scale(0.96);
    top: 0.05rem;
    left: 0.1rem;
  }
  .social-networks__start-option {
    display: none;
  }
  /*CSS - Second block*/
  .social-networks {
    width: 100%;

    bottom: 0;
    left: 0;

    padding: 2.4rem 4.3rem;

    justify-content: flex-start;

    border-radius: 0 0 10px 10px;
  }
  .social-networks__text {
    margin-right: 20px;
  }
  .social-networks__image--margin {
    margin-right: 16px;
  }
  .author-article__btn-social {
    position: relative;
    z-index: 300;
    top: 3px;
  }
}
@media screen and (max-width: 500px) {
  .main-page {
    padding: 2rem;
  }
}
@media screen and (max-width: 360px) {
  html {
    font-size: 56%;
  }
  .main-page {
    margin-top: 1rem;
  }
}
@media screen and (max-width: 320px) {
  html {
    font-size: 49.2%;
  }
}
@media screen and (max-width: 300px) {
  html {
    font-size: 50%;
  }
  .main-page {
    padding: 0.5rem;
  }
}
@media screen and (max-width: 280px) {
  html {
    font-size: 46.4%;
  }
}
